<div class="container">
    <h3 class="mt-5 mb-4">Send Message</h3>
    <form class="form" action="/send" method="POST">
        <div class="input-group mb-3 col-auto">
            <span class="input-group-text">Phone no with country code</span>
            <input type="text" name="phone" class="form-control" placeholder="">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" name="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
    </Form>

</div>